
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border:solid 2px; height:200px; text-align:center;">
    <h2 style="font-family:Arial; text-align:center; line-height:106px; color:#ba1010">Thank You For Your Event Request!</h2>
    <h2 style="font-family:Arial; text-align:center; color:#ba1010">One of our representative will contact you soon</h2>
</div>
