@{
                /**/

                ViewBag.Title = "About";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Events Planning Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="~/Template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Template/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="~/Template/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="~/Template/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<body>

    <!-- about -->
    <div class="welcome">
        <div class="container">
            <h3 class="w3layouts_head">Why Choose <span>Us</span></h3>
            <p class="w3_para">
                We are the most experienced team of peer-to-peer fundraising event experts in the nation.Our unparalleled Event Management Specialists know how to plan, promote and run an event that will exceed your goals.
            </p>
            <div class="w3ls_news_grids">
                <div class="col-md-6 w3_agile_about_grid_left">
                    <h3> Our events are about you, our clients. So we do the work, we make you look great, and you get the credit.</h3>
                    <p>
                        <i>
                            From cutting-edge marketing campaigns and fundraising technology to personalized customer service to an agile, adaptable on-event production team, we’ve got you covered.
                        </i>Headquartered in Chittagong with a deep bench of accomplished team members and partners working nationwide, we can quickly scale to a wide range of client needs and budgets. We execute all projects, big and small, with the same level of expertise, dedication and passion.
                    </p>
                </div>
                <div class="col-md-6 w3_agile_about_grid_right">
                    <div class="skillbar" data-percent="78">
                        <span class="skillbar-title" style="background: #f1703a;">Birthdays</span>
                        <p class="skillbar-bar" style="background: #f88c5e;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="54">
                        <span class="skillbar-title" style="background: #2980b9;">Wedding</span>
                        <p class="skillbar-bar" style="background: #3498db;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="76">
                        <span class="skillbar-title" style="background: #a0d034;">Corporate</span>
                        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="80">
                        <span class="skillbar-title" style="background: #e7cc2c;">Parties</span>
                        <p class="skillbar-bar" style="background: #f5d410;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- skills -->
    <script src="js/skill.bars.jquery.js"></script>
    <script>
        $(document).ready(function () {

            $('.skillbar').skillBars({
                from: 0,
                speed: 4000,
                interval: 100,
                decimals: 0,
            });

        });
    </script>
    <!-- //skills -->
    <!-- about-bottom -->
    <div class="about-bottom">
        <div class="container">
            <h3>
                <span>Agriculture</span> not only gives riches to a nation, but the
                only riches she can call her own
            </h3>
            <div class="agileits_w3layouts_learn_more agileits_learn_more hvr-radial-out">
                <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
            </div>
        </div>
    </div>
    <!-- //about-bottom -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Events Planning
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="~/Template/images/5.jpg" alt=" " class="img-responsive" />
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui
                            dolorem eum fugiat quo voluptas nulla pariatur.
                            <i>
                                " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                esse quam nihil molestiae consequatur.
                            </i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- team -->
    <div class="welcome">
        <div class="container">
            <h3 class="w3layouts_head">Our Amazing <span>Team</span></h3>
            <p class="w3_para">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
            <div class="w3ls_news_grids w3_agileits_team_grids">
                <div class="col-md-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Template/images/t1.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Andria Carl</h4>
                    <p>Field Manager</p>
                </div>
                <div class="col-md-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Template/images/t3.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Laura Doe</h4>
                    <p>Decorator</p>
                </div>
                <div class="col-md-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Template/images/t4.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Rosy Paul</h4>
                    <p>Co-Founder</p>
                </div>
                <div class="col-md-3 w3_agileits_team_grid">
                    <div class="w3layouts_news_grid">
                        <img src="~/Template/images/t2.jpg" alt=" " class="img-responsive" />
                        <div class="w3layouts_news_grid_pos">
                            <div class="wthree_text agileinfo_about_text">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>Christopher Lii</h4>
                    <p>Senior Staff</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Template/js/move-top.js"></script>
    <script type="text/javascript" src="~/Template/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- menu -->
    <script type="text/javascript" src="~/Template/js/main.js"></script>
    <!-- //menu -->
    <!-- for bootstrap working -->
    <script src="~/Template/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>


