
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Events Planning  a Wedding Category Flat Bootstrap Responsive Website Template | Services :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Events Planning Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Template/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="~/Template/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- //banner -->
    <!-- services -->
    <div class="banner-bottom">
        <div class="container">
            <div class="agileits_heading_section">
                <h3 class="w3layouts_head">Corporate</h3>
                <p class="w3_para">Just ask our well established base of clients who keep coming back to us! We pride ourselves on the personal service we can offer and our attention to detail.</p>
            </div>
            <div class="w3ls_banner_bottom_grids">
                <div class="col-md-4 agileits_services_grid">
                    <h3>Party Service</h3>
                    <p>
                        We negotiate on your behalf to ensure you get the best venue in terms of price they've ever been to a state-of-the-art conference centre instead of the local hotel
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/Corporate.jpg" alt=" " class="img-responsive" />

                        <div class="w3_blur"></div>
                    </div>
                    @*<div class="w3layouts_more">
                            <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Locations & Venues</h3>
                    <p>
                        Corporate Party Locations. Find Relevant Information. Quick & Easy Answers. Search & Find Now. Learn More. Types: Business, Health, Travel Corporate Party Locations.
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/10.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>
                    @*<div class="w3layouts_more">
                            <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Catering & Food</h3>
                    <p>
                        We have 51 ads under services for bd catering, from ekhanei.com, ... for our professionally cooked authentic Bangladeshi food catering services. ... Ashapuri is a professional organisation for catering
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/5.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>
                    @*<div class="w3layouts_more">
                            <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
                <div class="clearfix"> </div>
            </div>
            @*-----2Nd Div Use-----*@
            <div class="w3ls_banner_bottom_grids">
                <div class="col-md-4 agileits_services_grid">
                    <h3> Entertainment</h3>
                    <p>
                        The Culture of Bangladesh refers to the way of life of the people of Bangladesh. It has evolved ... thinkers, music composers, painters, and film-makers have played..
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/4.jpg" alt=" " class="img-responsive" />

                        <div class="w3_blur"></div>
                    </div>
                    @*<div class="w3layouts_more">
                            <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Photographers</h3>
                    <p>
                        photographer to police custody ... A well-known photographer and activist in Bangladesh who accused police of torturing him ... Kavanaugh's Bush White House role emerges in new documents
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/6.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>
                    @*<div class="w3layouts_more">
                            <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Music</h3>
                    <p>
                        The culture of Bengal encompasses the Bengal region in South Asia, including Bangladesh ... Folk music in Bengal is often accompanied by the ektara, a one-stringed instrument.
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/Band.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>
                    @*<div class="w3layouts_more">
                            <a href="#" data-toggle="modal" data-target="#myModal">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
                <div class="clearfix"> </div>
            </div>


            <div>

            </div>
        </div>


    </div>
    <!-- //services -->
    <!-- offer -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- menu -->
    <script type="text/javascript" src="js/main.js"></script>
    <!-- //menu -->
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>