
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Events Planning  a Wedding Category Flat Bootstrap Responsive Website Template | Services :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Events Planning Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Template/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="~/Template/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- //banner -->
    <!-- services -->
    <div class="banner-bottom">
        <div class="container">
            <div class="agileits_heading_section">
                <h3 class="w3layouts_head">Wedding <span>Party</span></h3>
                <p class="w3_para">We are a full service rental and event production company servicing Utah, Salt Lake, and Summit Counties. We provide unique rental options to fit any need, from simple backyard receptions to extravagant destination weddings. </p>
            </div>
            <div class="w3ls_banner_bottom_grids">
                <div class="col-md-4 agileits_services_grid">
                    <h3>Party Locations</h3>
                    <p>
                        Wedding Venues and Wedding Locations. WeddingWire offers reviews, prices and availability to plan the best Wedding Reception
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/wedding.jpg" alt=" " class="img-responsive" />

                        <div class="w3_blur"></div>
                    </div>

                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Wedding Cakes</h3>
                    <p>
                        Order multi layer wedding cake with exclusive desing online. ... Select a design from our online cake catalogue for Bangladesh and order cake ...
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/8.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>

                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Entertainment</h3>
                    <p>
                        Best wedding planners in Chittagong are available to add dazzle to your banquet hall.to add extra gusto, we can call our list of live music singers..
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/6.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>
            @*-----2Nd Div Use-----*@
            <div class="w3ls_banner_bottom_grids">
                <div class="col-md-4 agileits_services_grid">
                    <h3> Engagement</h3>
                    <p>
                        Therefore, almost equally important, is your choice of wedding jewelry. What are the differences between engagement rings, wedding rings
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/7.jpg" alt=" " class="img-responsive" />

                        <div class="w3_blur"></div>
                    </div>

                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Photographers</h3>
                    <p>
                        Best professional Wedding photographers in Bangladesh. Here is a list of award winning Wedding photographers ratings and prices onlin
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/12.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>

                </div>
                <div class="col-md-4 agileits_services_grid">
                    <h3>Decoration</h3>
                    <p>
                        wedding stage decoration unit of Red Elegance Weddings designs wedding stages and other venue setups. Wedding stage decoration may contain ...
                    </p>
                    <div class="w3_agile_services_grid1">
                        <img src="~/Template/images/9.jpg" alt=" " class="img-responsive" />
                        <div class="w3_blur"></div>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>


            <div>

            </div>
        </div>


    </div>
    <!-- //services -->
    <!-- offer -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- menu -->
    <script type="text/javascript" src="js/main.js"></script>
    <!-- //menu -->
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>